@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat-alt);
    line-height: 1.2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-albert-sans);
  font-size: 16px;
}
.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.container-lg{
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
}
